<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.liu.collin.project.ucif.dao.CompanyDao">
	
	<resultMap id="CompanyMap" type="Company">
		<id column="id" property="id" javaType="long" />
		<result column="companyName" property="companyName" javaType="string" />
		<result column="companyAddress" property="companyAddress" javaType="string" />
		<result column="publicityImage" property="publicityImage" javaType="string" />
		<result column="peopleNumber" property="peopleNumber" javaType="int" />
		<result column="establishDate" property="establishDate" javaType="date" />
		<result column="companyPhone" property="companyPhone" javaType="string" />
		<result column="status" property="status" javaType="int" />
		<result column="updateTime" property="updateTime" javaType="date" />
	</resultMap>
	
	<sql id="selectColumn">
		A.id, A.companyName, A.companyAddress, A.publicityImage, A.peopleNumber, A.establishDate, A.companyPhone, A.status, A.updateTime
	</sql>
	
	<sql id="selectWhere">
		<where>
			<if test="companyName != null AND companyName != ''">
				AND A.companyName = #{companyName, jdbcType=VARCHAR, javaType=string}
			</if>
		</where>
	</sql>
	
	<insert id="insert" parameterType="Company" >
		<![CDATA[
			INSERT INTO ucif_company(
				id,
				companyName,
				companyAddress,
				publicityImage,
				peopleNumber,
				establishDate,
				companyPhone,
				status,
				createTime,
				createDate
			)
			VALUES(
				#{id, jdbcType=BIGINT},
				#{companyName, jdbcType=VARCHAR},
				#{companyAddress, jdbcType=VARCHAR},
				#{publicityImage, jdbcType=VARCHAR},
				#{peopleNumber, jdbcType=INTEGER},
				#{establishDate, jdbcType=DATE},
				#{companyPhone, jdbcType=VARCHAR},
				#{status, jdbcType=INTEGER},
				NOW(),
				CURRENT_DATE()
			)
		]]>
	</insert>
	
	
	<select id="getById" parameterType="long" resultMap="CompanyMap">
		SELECT id,companyName FROM ucif_company WHERE id=#{id}
	</select>
</mapper>